.--credentials-form {
    width: 25rem;
    height: max-content;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, #ffffff 0%, #ffffff00 30%, #ffffff00 70%, #ffffff) 30;
    background-color: rgba(255,255,255,0.1);
    padding: 1rem 1rem 1rem 1rem;
}

.--credentials-logo {
    /*text-shadow: rgb(105, 105, 105) 0px 0.15rem 0px, #3c3c3c 0rem 0.3017rem 0px;*/
    color:white;
    font-size: 1.5rem;
    font-weight: 400;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    letter-spacing: -0.0rem;
}


.--credentials-input {
    padding: 0;
    margin: 0;
    width: 24.2rem;
    font-family: 'Roboto Mono', monospace;
    background: rgba(0,0,0,0.3);
    outline: 0;
    border: 1px solid rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.719);
    font-size: 1.3rem;
    padding: 0.3rem;
    mix-blend-mode: luminosity;
    border-radius: 5px;
    box-sizing: content-box;
    outline: 1px solid rgba(0,0,0,0.0);
}

.--credentials-input:focus {
    transition-duration: 0.2s;
    outline: 1px solid rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.3); 
    background: rgba(0,0,0,0.4);
}

.--credentials-info {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.692);
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0 0 4px 0;
    mix-blend-mode: luminosity;
}

.--credentials-error {
    color: rgba(255, 239, 239, 0.952);
    background-color: rgba(255, 63, 63, 0.562);
    width: 25rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-top:3vh;
    padding: 0.5rem 1rem 0.5rem 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    justify-content: center;
    text-align: center;
}