
.--restart-btn {
    display: block;
    position: relative;
    z-index: 100;
    border: 1px solid white;
    background: transparent;
    border-radius: 0.4vw;
    width: calc(100% - 2vw);
    height: 3.417vw;
    margin-left: 1vw;
    
}

#rst {
    margin-bottom: 0.4vw;
}

#rst:hover {
    transition-duration: 0.2s;
    box-shadow: rgba(255,255,255,0.5) 0px 0px 10px; 
    background: linear-gradient(45deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 40%, rgba(255,255,255,0.1) 90% );
}

#rst:active {
    transition-duration: 0.2s;
    box-shadow: rgba(255,255,255,0.7) 0px 0px 14px; 
    animation: clickanimation 0.1s ease-out 0s 1 alternate;
    animation-fill-mode: forwards;
}

.--restart-img {
    height:1.6585vw;
    user-select: none;
    -webkit-user-drag: none;
}

.--finish-wrapper {
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.278); 
    display:grid;
    place-items: center;
    backdrop-filter: blur(0.5vw);
}

.--finish-container {
    position:static;
    width: 55vw;
    height: 70vh;
    border: 1px solid white;
    border-radius: 0.4vw;
    /*box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 20px;*/
    padding: 0 1.2vw 0 1.2vw;
}

.--finish-stats-wrap {
    /*style={{display: 'flex', flexDirection: 'column', width: '46%', height: '100%', justifyContent: 'space-around', padding: '0vh 1vh 0vh 1vh'}}*/
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0 1vh 0 1vh;
}

.showBox {
    animation-name: showBox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.closeBox {
    animation-name: closeBox;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


.showOver {
    animation-name: showOverlay;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.closeOver {
    animation-name: closeOverlay;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.--finish-chart {
    width: 20vw;
    font-family: 'Roboto Mono', monospace;
}

.--finish-title {
    text-align: center;
    font-size: 2.0953vw;
    color:white;
    font-weight: 700;
    /*text-shadow: #3c3c3c 0px 0.15vw 0px, #1c1c1c 0vw 0.3017vw 0px;*/
}

.--finish-results {
    height: 55vh;
    width: 100%;
    border-radius: 0.4vw;
    overflow-y:auto;
    border: 0.1vw solid white;
    margin-top: -2vw;
}

.--finish-results > .--finish-elements:nth-child(even) {
    background-color: rgb(0,0,0,0.3);
}

.--finish-results > .--finish-elements:nth-child(odd) {
    background-color: rgb(0,0,0,0.6);
}

.--finish-results-text {
    color: white;
    font-size: 1.4953vw;
    margin: 0;
    margin-left: 0.6vw;
    font-weight: 200;
}

.--frtr {
    font-style: italic;
    font-size: 1.0953vw;
    margin-right: 0.6vw;
    color: rgba(255,255,255,0.4);
    font-weight: 200;
}

.--chart-wrapper {
    display: flex; 
    flex-direction: column;
    width: 50%;
    height:100%;
    justify-content: space-around;
    border-top: none;
    border-bottom: none;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}