
.--header {
    height: 12vh;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: brightness(1.4) blur(2rem);
    padding: 0px 3.9308rem 0px 3.9308rem;
    /*border-bottom: 0.1rem solid rgb(255, 255,255);*/
    /*box-shadow: rgb(192, 192, 192) 0px 5px 15px;*/
    mix-blend-mode: normal;
}

.--header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
}

.--header-logo {
    /*text-shadow: rgb(105, 105, 105) 0px 0.15rem 0px, #3c3c3c 0rem 0.3017rem 0px;*/
    color:white;
    font-size: 2.0953rem;
    font-weight: 400;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    letter-spacing: -0.0rem;
}

.--header-blinker {
    height:2.0953rem;
    width: 1.2723rem;
    background-color: white;
    margin-left: 0.3931rem;
    /*box-shadow: #3c3c3c 0rem 0.3017rem 0px;*/
    animation-name: blinker;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.--header-info {
    color: white;
    /*text-shadow: rgb(105, 105, 105) 0px 0.2717rem 0px;*/
    padding: 0.2rem;
    font-size: 1.9157rem;
    text-align: center;
    user-select: none;
    margin-left: -0.3rem;
    font-weight: 400;
    font-style: italic;
}

.--header-info-sub {
    position: absolute;
    z-index: 10;
    color: white;
    top: calc(7vh - 0.7792rem);
    font-weight: 100;
    margin:0;
    top: 0.1rem;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    user-select: none;
}
/*style={{width: '11rem', height: '12vh', marginLeft: '-0.35rem', position: 'absolute', zIndex: '-2'}}*/
.--header-panel-image {
    width: 11rem;
    height: 12vh;
    margin-left: -0.35rem;
    position: absolute;
    z-index: -2;
    user-select: none;
    -webkit-user-drag: none;
}

.--header-info-sub-acc {
    letter-spacing: 0.65rem;
    margin-right: -0.7rem;
}

.--header-info-sub-speed {
    letter-spacing: 1.4rem;
    margin-right: -1.3rem;
}

.--header-info-sub-time {
    letter-spacing: 2rem;
    margin-right: -2rem;
}

.items {
    /*border: 0.1rem solid white;*/
    /*background: linear-gradient(180deg, #3c3c3c, #343434);*/
    height: 12vh;
    border-bottom: none;
    border-top: none;
    width: 11rem;
    position: absolute;
}


.items-main {
    height: 12vh;
    border-bottom: none;
    border-top: none;
    width: 9rem;
}

.--header-time {
    width: 7%;
    height: 5vh;
    background-color: transparent;
    border:none;
    outline: none;
    font-size: 1.9rem;
    color:white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 700;
}

.cwpm {
    text-align: left;
    margin: 0;
}
