body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    overflow:hidden;
    position: absolute; /*Trust me, this has been put here for a reason, fixes an extremely weird bug*/
    width: 100%;
    height: 100%;
    transition-duration: 0s;
}

* {
    transition-duration: 0.2s;
}

html {
    width: 100vw;
    height: 100vh;
    transition-duration: 0;
    font-size: 1vw; /*1vw*/
}

::-webkit-scrollbar {
    width: 0.2vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 0.2vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(201, 201, 201, 0.767);
}

/*
@media (max-width: 1536px) {
    html {
        font-size: 12px;
    }   
    .--settings-button {
        font-size: 10px;
    }
}


@media (max-width: 1097px) {
    html {
        font-size: 8px;
    }   
    .--settings-button {
        font-size: 7px;
    }
    .switch {
        transform: scale(0.9)
    }
}*/
  