body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    overflow:hidden;
}

* {
    transition-duration: 0.2s;
}

html {
    width: 100vw;
    height: 100vh;
    transition-duration: 0;
}

::-webkit-scrollbar {
    width: 0.2vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 0.2vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(201, 201, 201, 0.767);
}
  